body {
    font-family: 'Poppins', sans-serif;
    background: rgb(107, 186, 222);
    background: -moz-linear-gradient(90deg, rgba(107, 186, 222, 1) 0%, rgba(232, 156, 205, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(107, 186, 222, 1) 0%, rgba(232, 156, 205, 1) 100%);
    background: linear-gradient(90deg, rgba(107, 186, 222, 1) 0%, rgba(232, 156, 205, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#6bbade", endColorstr="#e89ccd", GradientType=1);
}

h1 {
    color: rgb(49, 49, 49);
    margin-top: 40px;
    text-align: center;
    font-size: 32px;
}

.input-group {
    margin: 50px 0px;
    align-items: center;
    text-align: center;
}

.input-group input {
    height: 45px;
    border-radius: 15px;
    color: black;
}

.btn-add {
    background-color: rgb(12, 187, 50);
    color: white;
    padding: 20px 63px;
    margin-top: 15px;
    margin-right: 30px;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-remove {
    background-color: rgb(187, 12, 12);
    color: white;
    padding: 20px 50px;
    margin-top: 15px;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-add:hover {
    background-color: rgb(15, 19, 31);
    transition: 0.3s;
}

.btn-remove:hover {
    background-color: rgb(231, 122, 33);
    transition: 0.3s;
}

ul {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

li {
    position: relative;
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}